body {
    background-color: #EAF6F6;
    margin: 50px;
    margin-top: 30px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

img {
    height: 200px;
}

h1 {
   color: #66BFBF;
}

h3 {
    color: #488FB1;
}

a {
    color: #488FB1;
    text-decoration: none;
    font-size:20px;
    padding:5px;
}

a:hover {
    color: #66BFBF;
}

.edit {
    padding: 20px 0 10px;
}
